* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  user-select: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#app-container {
  width: 350px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid black;
}
#app-container #user-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}
#app-container #user-section input {
  width: 250px;
  height: 35px;
  font-size: 1rem;
  padding-left: 1px;
  outline: none;
}
#app-container #user-section .btn-add {
  height: 35px;
  width: 35px;
  font-size: 1.2rem;
  cursor: pointer;
}
